@model UAndes.ICC5103._202301.Models.Inscripcion



<h2>Nueva Inscripción</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="margin-top:4rem;">Datos Inscripción</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Numero_atencion,"Número de Atencion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numero_atencion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Numero_atencion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cne, "Código Naturaleza Escritura", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Cne, new List<SelectListItem>
               {
                 new SelectListItem { Text = "Compraventa", Value ="Compraventa"},
                 new SelectListItem { Text = "Regularización de Patrimonio", Value = "Regularización de Patrimonio"}
              }, "Selecione CNE",
              new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fojas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fojas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fojas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Creacion, "Fecha Inscripción", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Creacion, "{0:MM/dd/yyyy}", new { @class = "form-control date", type = "date" })
                @Html.ValidationMessageFor(model => model.Creacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fk_rol, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Fk_rol", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Fk_rol, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Enajenantes</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-12">
                <table class="table" id="enajenantesTable">
                    <thead>
                        <tr>
                            <th>RUT</th>
                            <th>Nombre</th>
                            <th>Porcentaje</th>
                            <th>Derechos NA</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-control" type="text" name="enajenanteRut" /></td>
                            <td><input class="form-control" type="text" name="enajenanteNombre" /></td>
                            <td><input class="form-control" type="number" step="0.01" min="0" max="100" name="enajenantePorcentaje" /></td>
                            <td><input class="form-control" type="checkbox" name="derechosNA" /></td>
                            <td><button type="button" class="btn btn-default" onclick="addEnajenante()">Agregar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h4>Adquirentes</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-12">
                <table class="table" id="adquirentesTable">
                    <thead>
                        <tr>
                            <th>RUT</th>
                            <th>Nombre</th>
                            <th>Porcentaje</th>
                            <th>Derechos NA</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-control" type="text" name="adquirenteRut" /></td>
                            <td><input class="form-control" type="text" name="adquirenteNombre" /></td>
                            <td><input class="form-control" type="number" step="0.01" min="0" max="100" name="adquirentePorcentaje" /></td>
                            <td><input class="form-control" type="checkbox" name="derechosNA" /></td>
                            <td><button type="button" class="btn btn-default" onclick="addAdquirente()">Agregar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style=" display: flex; justify-content: center;">
                <input type="submit" value="Crear Inscripción" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink("Volver", "Index")
    </div>
}

@section scripts{
    <script>
        function addEnajenante() {
            var table = document.getElementById("enajenantesTable");
            var row = table.insertRow(-1);
            var rutCell = row.insertCell(0);
            var nombreCell = row.insertCell(1);
            var porcentajeCell = row.insertCell(2);
            var deleteCell = row.insertCell(3);
            rutCell.innerHTML = document.getElementsByName("enajenanteRut")[0].value;
            nombreCell.innerHTML = document.getElementsByName("enajenanteNombre")[0].value;
            porcentajeCell.innerHTML = document.getElementsByName("enajenantePorcentaje")[0].value + "%";
            deleteCell.innerHTML = "<button type='button' class='btn btn-danger' onclick='deleteRow(this)'>Eliminar</button>";


        }

        function addAdquirente() {
            var table = document.getElementById("adquirentesTable");
            var row = table.insertRow(-1);
            var rutCell = row.insertCell(0);
            var nombreCell = row.insertCell(1);
            var porcentajeCell = row.insertCell(2);
            var deleteCell = row.insertCell(3);
            rutCell.innerHTML = document.getElementsByName("adquirenteRut")[0].value;
            nombreCell.innerHTML = document.getElementsByName("adquirenteNombre")[0].value;
            porcentajeCell.innerHTML = document.getElementsByName("adquirentePorcentaje")[0].value + "%";
            deleteCell.innerHTML = "<button type='button' class='btn btn-danger' onclick='deleteRow(this)'>Eliminar</button>";

        }

        function deleteRow(button) {
            var row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
    </script>
}