@model UAndes.ICC5103._202301.Models.Inscripcion

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>N° Atención: @Model.Id</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Número de Inscripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_inscripcion)
        </dd>

        <dt>
            Código Naturaleza Escritura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fojas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fojas)
        </dd>

        <dt>
            Fecha de Inscripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creacion)
        </dd>

        <dt>
            Comuna
        </dt>

        <dd>
            @ViewBag.Comuna
        </dd>
        <dt>
            Manzana
        </dt>

        <dd>
            @ViewBag.Manzana
        </dd>
        <dt>
            Predio
        </dt>

        <dd>
            @ViewBag.Predio
        </dd>

    </dl>

    <h3>Enajenantes</h3>
    <table class="table" style="margin-top:2rem">
        <thead>
        <th>
            Nombre
        </th>
        <th>
            Rut
        </th>
        <th>
            Porcentaje
        </th>
        <th>
            Derecho No Acreditado
        </th>
        </thead>
        <tbody>
            @foreach (var enajenante in Model.Enajenante)
            {
                <tr>
                    <td>@enajenante.Nombre</td>
                    <td>@enajenante.Rut</td>
                    @if (enajenante.Porcentaje_Na != 0)
                    {
                        <td> - </td>
                    }
                    else
                    {
                        <td>@enajenante.Porcentaje</td>
                    }

                    @if (enajenante.Porcentaje_Na != 0)
                    {
                        <td>Si</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                </tr>




            }
        </tbody>
    </table>


    <h3>Adquirentes</h3>
    <table class="table" style="margin-top:2rem">
        <thead>
        <th>
            Nombre
        </th>
        <th>
            Rut
        </th>
        <th>
            Porcentaje
        </th>
        <th>
            Derecho No Acreditado
        </th>
        </thead>
        <tbody>
            @foreach (var adquirente in Model.Adquirente)
            {
                <tr>
                    <td>@adquirente.Nombre</td>
                    <td>@adquirente.Rut</td>
                    @if (adquirente.Porcentaje_Na != 0)
                    {
                        <td> - </td>
                    }
                    else
                    {
                        <td>@adquirente.Porcentaje</td>
                    }

                    @if (adquirente.Porcentaje_Na != 0)
                    {
                        <td>Si</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                </tr>




            }
        </tbody>
    </table>

</div>
<p>
    @Html.ActionLink("Volver a Lista de Inscripciones", "Index")
</p>
