@model IEnumerable<UAndes.ICC5103._202301.Models.Inscripcion>

@{
    ViewBag.Title = "Index";
}

<h2>Inscripciones</h2>

<p>
    @Html.ActionLink("+ Nueva Inscripción", "Create")
</p>
<table class="table">
    <thead>
        <th>
            N° Inscripción
        </th>
        <th>
            Fecha Inscripción
        </th>
        <th>
            Fojas
        </th>
        <th>
            N° Atención
        </th>
        <th>
            Rol
        </th>
        <th>
            Acciones
        </th>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fojas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_atencion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.Id)
        </td>
        <td>
            <button class="btn btn-default">@Html.ActionLink("Ver", "Details", new { id = item.Id })</button>
            
        </td>
    </tr>
}

</table>
